input{
    margin: 10px;
}
#sor1{
    display: none;
}
#display1 { 
    border: 1px solid green; 
    padding: 10px; 
    background-color: #adff2f; 
    border-radius: 10px; 
    width: 50%; 
} 
#display2 { 
    border: 1px solid red; 
    padding: 10px; 
    background-color: lightcoral; 
    border-radius: 10px; 
    width: 50%; 
}
